.botones-1 {
  width: 70px;
  height: 30px;
  background-color: #950101;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.botones-2 {
  width: 120px;
  height: 30px;
  background-color: #950101;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.botones-3 {
  width: 20px;
  height: 20px;
  background-color: #950101;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

body main {
  background-color: black;
  color: white;
}

.cartas {
  background-image: radial-gradient(ellipse 250px 100px, #950101, white);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*Navegador*/
.nav {
  justify-content: right;
}

/*header*/
.navegador {
  background-color: #950101;
  list-style-type: none;
  display: flex;
}

.navegador-estilos {
  text-decoration: none;
  color: white;
}

header {
  background: #950101;
  width: 100vw;
}

.logo-de-la-tienda {
  margin: 10px;
  width: 70px;
  height: 70px;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

h1 {
  text-align: center;
}

.video {
  justify-content: left;
}

footer {
  background: #950101;
  width: 100vw;
}

.footers {
  list-style-type: none;
  display: flex;
}

.footer-center {
  text-align: center;
}

.logos-redes {
  height: 35px;
  width: 35px;
  margin: 15px;
  text-align: center;
}

.logo-img {
  height: 10px;
  height: 10px;
  margin: 5px;
}

.defensa-del-consumidor {
  text-align: justify;
  text-decoration: none;
  color: white;
  margin: 15px;
}

.contenedor {
  background: url(adventure.jpg) center/cover no-repeat;
  padding: 100px;
}

.lines {
  width: 100%;
  height: 45px;
  position: relative;
}

.lines::after, .lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 45%;
  top: 45%;
}

.lines::after {
  left: 0;
}

.lines::before {
  right: 0;
}

.circle {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 3, 3, 3, 3;
}

.envio-produc {
  text-align: center;
  margin-bottom: 0rem;
  margin: 0%;
  background-color: white;
  color: black;
  width: 100%;
}

.cuadro {
  width: 200px;
  height: 220px;
  margin: 20px;
  padding: 20px;
  display: inline-block;
}

.texto-carta {
  text-decoration: none;
  color: black;
}

.contacto-email-tel {
  text-decoration: none;
  color: black;
}

.mapa {
  display: flex;
  justify-content: center;
}

.boton-1 {
  margin: 0, 3, 3, 3;
}

.subtitulo-texto-divs div {
  margin: 15px;
  padding: 15px;
}

.titulo-sobre {
  text-align: center;
}

.cards-centradas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.card-sobre .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card-sobre .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card-sobre .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-sobre .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card-sobre .back {
  transform: perspective(600px) rotateY(180deg);
  background: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #fff;
}

.card-sobre .back .link {
  border-top: solid 1px black;
  height: 50px;
  line-height: 50px;
}

.card-sobre .back .link a {
  color: black;
}

.card-sobre .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card-sobre .back p {
  letter-spacing: 1px;
}

.card-sobre:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-sobre:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.titulo-ayu {
  text-align: center;
}

.carrusel {
  display: flex;
  justify-content: center;
}

.video {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.video::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.esdacode-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .circle {
    height: 20px;
    width: 20px;
  }
  .lines {
    height: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
