footer{
    background: $colorheaderyfooter;
    width: 100vw;
}
.footers{
    list-style-type: none;
    display: flex;
}
.footer-center{
    text-align: center;
}
.logos-redes{
    height: 35px;
    width: 35px;
    margin: 15px;
    text-align: center;
}
.logo-img{
    height: 10px;
    height: 10px;
    margin: 5px;
}
.defensa-del-consumidor{
    text-align: justify;
    text-decoration: none;
    color: white;
    margin: 15px;
}