/*Navegador*/
.nav{
    justify-content: right;
}
/*header*/
.navegador{
    background-color: #950101;
    list-style-type: none;
    display: flex;
}
.navegador-estilos{
    text-decoration: none;
    color: white;
}