.logo-de-la-tienda{
    margin: 10px;
    width: 70px;
    height: 70px;
}
/*Navegador*/
.nav{
    justify-content: end;
}
/*header*/
.navegador{
    background-color: #950101;
    list-style-type: none;
    display: flex;
}
.navegador-estilos{
    text-decoration: none;
    color: white;
}