.zapatillas{
    display: flex;
}
.envio-produc{
    text-align: center;
    margin-bottom: 0rem; 
    margin: 0%;
    background-color: white;
    color: black;
    width: 100%;
}
.cuadro{
    width: 200px;
    height: 220px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}